<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The story of the fictional Aztec god Enucatl">
<link rel="icon" href="{{ assetPrefix }}img/favicon.svg" type="image/svg+xml">
<title>Enucatl</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ assetPrefix }}css/carousel.css">
