<div class="container">
  <div class="row"><div class="intro-text col-lg-12"><div class="carousel">
    <blockquote><h3>{{ t.cotton1 }}</h3><footer>{{ t.cotton2 }}</footer></blockquote>
    <blockquote><h3>{{ t.madaki1 }}</h3><footer>{{ t.madaki2 }}</footer></blockquote>
    <blockquote><h3>{{ t.frieda1 }}</h3><footer>{{ t.frieda2 }}</footer></blockquote>
    <blockquote><h3>{{ t.sogeking1 }}</h3><footer>{{ t.sogeking2 }}</footer></blockquote>
  </div></div></div>
</div>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4"><img src="{{ assetPrefix }}img/enucatl.jpg" class="img-circle" alt="Enucatl image" style="width:140px;height:140px"><h2>{{ t.marketing_title_1 }}</h2><p>{{ t.marketing_content_1 }}</p><p><a class="btn btn-default" href="enucatl.html" role="button">{{ t.read_more }}</a></p></div>
    <div class="col-lg-4"><img src="{{ assetPrefix }}img/satrapame.jpg" class="img-circle" alt="Satrapame image" style="width:140px;height:140px"><h2>{{ t.marketing_title_2 }}</h2><p>{{ t.marketing_content_2 }}</p><p><a class="btn btn-default" href="satrapame.html" role="button">{{ t.read_more }}</a></p></div>
    <div class="col-lg-4"><img src="{{ assetPrefix }}img/tirannomauro.jpg" class="img-circle" alt="Tiranno Mauro image" style="width:140px;height:140px"><h2>{{ t.marketing_title_3 }}</h2><p>{{ t.marketing_content_3 }}</p><p><a class="btn btn-default" href="tirannomauro.html" role="button">{{ t.read_more }}</a></p></div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette"><div class="col-md-7"><h2 class="featurette-heading">{{ t.featurette_title_1 }}</h2><p class="lead">{{ t.featurette_content_1 }}</p></div><div class="col-md-5"><img src="{{ assetPrefix }}img/t9.jpg" class="featurette-image img-responsive" alt="Nokia T9"></div></div>
  <hr class="featurette-divider">
  <div class="row featurette"><div class="col-md-5"><img src="https://i179.photobucket.com/albums/w293/marquis477/azteca3xp0.jpg" class="featurette-image img-responsive" alt="Aztec warrior from photobucket - Marquis477"></div><div class="col-md-7"><h2 class="featurette-heading">{{ t.featurette_title_21 }} <span class="text-muted">{{ t.featurette_title_22 }}</span></h2><p class="lead">{{ t.featurette_content_2 }}</p></div></div>
  <hr class="featurette-divider">
  <div class="row featurette"><div class="col-md-7"><h2 class="featurette-heading">{{ t.featurette_title_31 }} <span class="text-muted">{{ t.featurette_title_32 }}</span></h2><p class="lead">{{ t.featurette_content_31 }} <a href="https://it.wikipedia.org/wiki/Wikipedia:Bar/Discussioni/Possibile_bufala_in_serie">{{ t.featurette_content_32 }}</a>.</p></div><div class="col-md-5"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Wikipedia-logo-v2-en.svg" class="featurette-image img-responsive" alt="Wikipedia"></div></div>
</div>
