---
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
    {% include navbar.html %}


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel"
        data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>La vera storia di Enucatl</h1>
              <blockquote>
                  <p> Alcuni riferimenti bibliografici palesemente inventati mi rendono sicuro che si tratti di una burla anche se di ottima fattura. </p>
                  <footer>Cotton, <i>patrollatore</i> di Wikipedia</footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Enucatl, il dio che probabilmente non esiste</h1>
              <blockquote>
                  <p>
                      Da quanto sono riuscito a ricavare sembrano un corpus
                      di bufale costruite ad arte. Premetto che potrei anche
                      sbagliarmi nel qual caso mi scuso anticipatamente ma
                      preferisco rischiare una figuraccia che trovarci tra
                      qualche giorno con un possibile <i>caso</i>.
                  </p>
                  <footer>Madaki, <i>admin</i> di Wikipedia</footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Enucatl ispira violenza agli antichi come ai moderni</h1>
              <blockquote>
                  <p>
                      Chiedo venia se mi sono dimenticata di segnalarli prima. IMHO sono da uccidere, a vista.
                  </p>
                  <footer>Frieda, <i>admin</i> di Wikipedia</footer>
              </blockquote>
              <blockquote>
                  <p>
                      Uhm... mi sa che dovrò fare un giretto all'università armato di mazza chiodata allora.
                  </p>
                  <footer>Sogeking, utente di Wikipedia</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="img/enucatl.jpg" alt="Enucatl image" style="width: 140px; height: 140px;">
          <h2>Chi era Enucatl?</h2>
          <p>
              Enucatl è il fratello di Quetzalcoatl, dal quale si distingue per la mancanza di piumaggio; è
              solitamente raffigurato nella forma di un serpente con ali di pipistrello,
              una tagliente coda biforcuta, una folta criniera sanguigna, un muso
              allungato di coccodrillo munito di micidiali zanne.
          </p>
          <p><a class="btn btn-default" href="enucatl.html" role="button">Leggi tutto &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/satrapame.jpg" alt="Satrapame image" style="width: 140px; height: 140px;">
          <h2>Il buon Satrapàme</h2>
          <p>
              noto, tra i numerosi sovrani aztechi, per aver posto fine al
              Sacri Misteri regolarmente celebrati in onore del dio Enucatl
              e alla furia inconoclasta che il suo predecessore, il tiranno
              Mauro, aveva scatenato nei confronti delle altre divinità.
          </p>
          <p><a class="btn btn-default" href="satrapame.html"
                  role="button">Leggi tutto &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/tirannomauro.jpg" alt="Tiranno
          Mauro image" style="width: 140px; height: 140px;">
          <h2>Il sanguinario tiranno Mauro</h2>
          <p>
              il suo nome non è azteco: furono gli spagnoli a
              tradurre così, fraintendendo, l'aggettivo <i>mah-urr</i> (nero
              d'animo) con cui egli veniva descritto da una popolazione, a
              distanza di due secoli, ancora terrorizzata.
          </p>
          <p><a class="btn btn-default" href="tirannomauro.html" role="button">Leggi tutto &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

   <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading">La vera storia di Enucatl</h2>
              <p class="lead">
                  comincia nei primi di luglio del
                  2007, con la lettura de <i>il pendolo di Foucault</i> di
                  Umberto Eco e la collaborazione del T9 Nokia. Quest'ultimo
                  è infatti autore di
                  alcune perle che sono alla base di questo racconto. Il nome stesso
                  di Enucatl è la versione T9 per Foucault, ma anche Sobbabia
                  (robaccia), Bradorose (ascensore) e altri ancora hanno tale nobile
                  origine.
              </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/t9.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive"
          src="http://i179.photobucket.com/albums/w293/marquis477/azteca3xp0.jpg"
          alt="Aztec warrior from photobucket - Marquis477">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Precolombiani in lotta per il
              potere <span class="text-muted">e per la vera religione</span></h2>
          <p class="lead">
              L'innegabile suono azteco del nome (come Quetzalcoatl, per
              capirci) diede inizio alla riscrittura di quasi mezzo secolo della
              storia di quel popolo. Tutto comincia nel 1300, con la nascita del
              Tiranno Mauro (ovviamente da <i>tirannosauro</i>), il quale
              incontra da giovanissimo il culto di Enucatl e decide di imporlo con
              la forza una volta guadagnato il controllo dell'esercito. Enucatl
              è il fratello di Quetzalcoatl senza piume, ed è Tauroboliaste e
              Psicopompo (citazione ancora dal <i>Pendolo</i>) nella mitologia
              mesoamericana. Dopo anni di crudele regno il Tiranno Mauro verrà
              rovesciato dal cugino, il buon Satrapame, che riporterà la pace.  
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">La diffusione su Wikipedia <span
                  class="text-muted">l'enciclopedia libera</span></h2>
          <p class="lead">
              La storia rimase pubblicata su tre articoli di Wikipedia per
              circa una settimana, dall'8 al 15 luglio 2007. Poi fu scoperta
              come falsa per i riferimenti bibliografici fasulli e le date
              sbagliate di pochi anni, in particolare quella della
              fondazione di Tenochtitlan.
              L'esilarante discussione sugli articoli è ancora disponibile
              nel
              <a href="http://it.wikipedia.org/wiki/Wikipedia:Bar/Discussioni/Possibile_bufala_in_serie">bar di wikipedia</a>.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive"
          src="http://upload.wikimedia.org/wikipedia/commons/b/b3/Wikipedia-logo-v2-en.svg"
          alt="Aztec warrior from photobucket - Marquis477">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      {% include footer.html %}
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/image_height.js"></script>
  </body>
</html>
