= javascript_include_tag "https://code.jquery.com/jquery-2.1.4.min.js"
= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
= javascript_include_tag "image_height"
= javascript_include_tag "carousel_height"
