.top-margin
  .container
    .row.featurette
      .col-md-8
        %h2.featurette-heading Enucatl
        %p.lead
          Divinity in the ancient aztec mythology. He is, in the tradition
          of many mesoamerican parchments, the brother of Quetzalcoatl, from
          which he differs by the lack of feathers; he is usually depicted as
          a snake with bat wings, a sharp bifurcate tail, a red mop, an
          elongated crocodile muzzle with deadly tusks.
      .col-md-4
        = image_tag "enucatl.jpg", alt: "Enucatl", :class => "featurette-image img-responsive"
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %p.lead
          He belongs to the group of chthonic deities, his main role is
          tauroboliaste and psychopomp: his most important task is indeed
          guiding the souls to the Mictlan, the underworld of precolombian
          religions. According to the legends, it was not rare that this
          deity, known for his noble soul, would be moved to pity by the
          dead, and allowed them to resurrect in their bodies: these events
          were often followed by gigantic earthquakes, and sometimes by
          powerful tsunamis. The research of the anthropologist John C.
          Gnostolds (1898-1973), near the sacred town of Sobbabia, uncovered
          many tombs with no bodies inside: a conclusive proof (as he
          theorized in his major work,
          = succeed "," do
            %i
              The ancient cult of Enucatl — A scientific research on Mexican
              holy cities 1961-68
          published in 1970) of the mass resurrection.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %p.lead
          The temple belt that runs from Sobbabia to Tenochtitlan is a proof
          of the devotion of the aztec people — as well as the mayan,
          according to some artefacts found in the Yucatan peninsula — for
          this deity: pyramids with rounded steps, 45 to 60 m high on
          average, on top of which human sacrifices would be performed to
          honor the god; with the decline of the aztec military power, and
          therefore the lack of slaves, the temples in the belt of the
          sacred towns were abandoned and fell into ruin. The cult of
          Enucatl also came to an end (see John C. Gnostolds,
          = succeed "," do
            %i
              The ancient cult of Enucatl
              — A scientific research on Mexican holy cities 1968-1973
          published in 1980). We have to say that Azazale was not the last
          ruler of the Mexica dynasty to celebrate solemn ceremonies in the
          complex in Sobbabia; after his death (1321) the tyrant Maurus
          (1300-1322) succeeded him, but he was condemned to an almost complete
          %i damnatio memoriae
          for his extreme brutality; apparently, he gathered the army and
          quickly defeated the neighboring peoples, who had dared to revolt,
          and brought 10 000 prisoners to death in the honor of Enucatl.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %p.lead
          The believers of the serpent-god resisted, mainly in the
          countryside, with the name of
          = succeed ";" do
            %i ajaxes
          but the arrival of the Spanish in 1521 lead to the destruction of
          most of the documents on Enucatl and put an end to his
          remembrance. Only in the '60s the research of John C. Gnostolds
          restored part of the forever lost identity of this ancient deity.
