/ Carousel
#myCarousel.carousel.slide{"data-interval" => "false", "data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item
      %img{:alt => "First slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption
          %h1 The true story of Enucatl
          %blockquote
            %p Some obviously invented bibliography citations make me sure it's a spoof, although it's very well done.
            %footer
              The friendly Cotton,
              Wikipedia patroller
    .item
      %img{:alt => "Second slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption
          %h1 Enucatl, the god who probably does not exist
          %blockquote
            %p
              As far as I could understand, they look like a
              %i corpus
              of fake spoof articles. I might even be wrong, in that case
              I'm sorry but I prefer making a fool of myself than being
              involved in a
              %i case
              in a few days.
            %footer
              The cautious Madaki, Wikipedia admin
    .item.active
      %img{:alt => "Third slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption
          %h1 Enucatl inspires violence to the ancients and to the moderns.
          %blockquote
            %p
              I'm sorry if I forgot to report them already. IMHO they are to be killed, on sight.
            %footer
              The kind Frieda, Wikipedia admin
          %blockquote
            %p
              Hmm... I think I should go to the university with my morning star
            %footer
              The barbarian Sogeking, Wikipedia user
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right
/ /.carousel
/
  Marketing messaging and featurettes
  \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %img.img-circle{:alt => "Enucatl", :src => "img/enucatl.jpg", :style => "width: 140px; height: 140px;"}/
      %h2 Who was Enucatl?
      %p
        Enucatl is the brother of Quetzalcoatl who lacks feathers; he's
        usually depicted as a snake with bat wings, a sharp bifurcate tail,
        a red mop, an elongated crocodile muzzle with deadly tusks.
      %p
        %a.btn.btn-default{:href => "enucatl.html", :role => "button"} Read more »
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Satrapame", :src => "img/satrapame.jpg", :style => "width: 140px; height: 140px;"}/
      %h2 The good Satrapame
      %p
        known, among the many aztec kings, for having put an end to the
        Sacred Mysteries, regularly devoted to the god Enucatl,
        and to the iconoclast fury that his predecessor, the tyrant Maurus,
        had unleashed against other cults.
      %p
        %a.btn.btn-default{:href => "satrapame.html", :role => "button"} Read more »
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Tyrant Maurus", :src => "img/tirannomauro.jpg", :style => "width: 140px; height: 140px;"}/
      %h2 The bloodthirsty tyrant Maurus
      %p
        his name is not aztec: the Spanish wrongly translated the adjective
        %i mah-urr
        (with a dark soul), as he was described by the population, still terrified after two centuries.
      %p
        %a.btn.btn-default{:href => "tirannomauro.html", :role => "button"} Read more »
    / /.col-lg-4
  / /.row
  / START THE FEATURETTES
  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading The true story of Enucatl
      %p.lead
        starts in the first days of July 2007, when I was reading
        Umberto Eco's 
        %i Foucault's pendulum
        and using the T9 by Nokia. That is the author of most of the made-up words in the story.
        The very name of Enucatl is the T9 spelling of Foucault.
    .col-md-5
      %img.featurette-image.img-responsive{:alt => "Generic placeholder image", :src => "img/t9.jpg"}/
  %hr.featurette-divider/
  .row.featurette
    .col-md-5
      %img.featurette-image.img-responsive{:alt => "Aztec warrior from photobucket - Marquis477", :src => "http://i179.photobucket.com/albums/w293/marquis477/azteca3xp0.jpg"}/
    .col-md-7
      %h2.featurette-heading
        The precolombian fight for power
        %span.text-muted and for the true religion
      %p.lead
        The undeniably aztec-sounding name (similar to Quetzalcoatl) triggered
        a rewriting of almost half a century of history. All begins in year 1300,
        with the birth of the tyrant Maurus (clearly from
        = succeed ")," do
          %i tyrannosaurus
        who meets the cult of Enucatl at an extremely young age, and decides to impose it by force after getting control over the army.
        Enucatl
        is the brother of Quetzalcoatl without feathers, and is tauroboliaste and 
        psychopomp (again quoting the
        = succeed ")" do
          %i Pendulum
        in the mesoamerican mythology.
        After many years of cruel reign, the tyrant Maurus is overthrown by
        his cousin, the good Satrapame, who will bring peace back.
  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        The diffusion on Wikipedia
        %span.text-muted the free encyclopedia
      %p.lead
        The story was published in three articles on the Italian Wikipedia for about a week,
        July 8th to 15th 2007. It was then found out as a spoof because of the fake bybliography
        and some dates which were wrong by a few years, such as the foundation of Tenochtitlan.
        The hilarious discussion on the articles is still available on
        = succeed "." do
          %a{:href => "http://it.wikipedia.org/wiki/Wikipedia:Bar/Discussioni/Possibile_bufala_in_serie"} Wikipedia
    .col-md-5
      %img.featurette-image.img-responsive{:alt => "Aztec warrior from photobucket - Marquis477", :src => "http://upload.wikimedia.org/wikipedia/commons/b/b3/Wikipedia-logo-v2-en.svg"}/
  %hr.featurette-divider/
