.top-margin
  .container
    .row.featurette
      .col-md-8
        %h2.featurette-heading
          Satrapame
          %span.text-muted detto il buono
        %p.lead
          Riverito Oratore azteco dal 1322
          al 1351, noto, tra i numerosi sovrani aztechi, per aver posto fine al
          Sacri Misteri regolarmente celebrati in onore del dio Enucatl e alla
          furia inconoclasta che il suo predecessore, il tiranno Mauro, aveva
          scatenato nei confronti delle altre divinità.
        %h2 La guerra civile
        %p.lead
          Alla morte di Azazale, nel 1319, il buon Satrapame aveva appena
          quarantacinque anni, ma già da dieci comandava
          cinquemila guerrieri induriti
          dalle battaglie, rigidamente disciplinati e fedeli al loro comandante, che
          si atteggiava a signorotto feudale di un'inospitale zona del deserto di
          Bradorose, al confine più settentrionale dell'impero azteco.
      .col-md-4
        = image_tag "satrapame.jpg", :alt => "Satrapame", :class => "featurette-image img-responsive"
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %p.lead
          La notizia della fine del monarca giunse provvidenziale: c'è chi
          sostiene (in particolare Edward J. Gnostolds, figlio del più
          celebre antropologo John C. e prosecutore delle sue ricerche, in
          = succeed ")" do
            %i Tyrant Maurus and the Good Satrapames — Anarchy and civil war in the Ancient Mexico
          che il sovrano improvvisamente deceduto fosse al corrente dei
          traffici che il buon Satrapame intratteneva con le popolazioni
          autoctone oltre il confine dell'impero &mdash; semi di cacao,
          pietre preziose, armi, piante allucinogene &mdash; e che si
          preparasse a guidare un esercito contro il suo vassallo infedele.
          Appena informato della vacanza del trono, il suo esercito
          personale lo acclamò imperatore (4 luglio 1319): documenti
          dell'epoca attestano una sua esitazione di fronte alla corona che
          gli veniva offerta, risolta positivamente in seguito alla scoperta
          della ribellione del futuro tiranno Mauro.
        %p.lead
          Seguirono sei mesi di guerra civile, un periodo di anarchia militare nel
          quale cinque autoproclamatisi imperatori si affrontarono in sanguinose
          battaglie delle quali non ci sono giunte notizie dettagliate; è un fatto
          che nella Notte delle Canne (31 dicembre 1319) il tiranno Mauro riuscì a
          impadronirsi con un abile colpo di mano della capitale Tenochtitlan, e che
          solo per un'epidemia, che aveva messo in ginocchio la città, lo scontro fra
          le truppe di Mauro e Satrapame fu evitato. L'accordo, stilato tra i due
          usurpatori, prevedeva che Satrapame riconoscesse la regalità del rivale; in
          cambio avrebbe sposato sua sorella Tzitziplin, di appena dodici anni, e
          sarebbe stato nominato erede al trono.
          Satrapame accettò di buon grado.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 Il regno del buon Satrapame
        %p.lead
          Nei mesi seguenti, però, il crescente odio
          delle masse popolari contro le politiche d'intolleranza religiosa del
          tiranno Mauro lo indusse a rovesciarlo il 14 luglio 1322 (Giorno della
          Gloria); il despota deposto fu sacrificato sull'altare di Enucatl e il
          culto bandito per sempre.
        %p.lead
          Avevano così inizio ventinove anni di governo illuminato: il buon Satrapame
          ampliò le fortificazioni già appartenutegli, sul confine settentrionale,
          per difendere l'impero dalle orde di selvaggi che premevano con insistenza
          alle frontiere; un loro tentativo velleitario di forzare queste difese
          indusse il generale Cuahumatl, comandante
          dell'
          %i élite
          guerriera dei
          Cuahchiqueh e amico intimo del buon Satrapame, ad attaccare il nemico. Uno
          scontro di proporzioni epiche vide opporsi 1.000 guerrieri aztechi a oltre
          ventimila stranieri, e riportare su questi ultimi una vittoria
          schiacciante. I prigionieri — pochi, a dir la verità — vennero immolati
          sulle fortificazioni il giorno della loro inaugurazione.
        %p.lead
          Satrapame premiò Cuahumatl associandolo al trono; voci insistenti, raccolte
          dall'archeologo Jean-Pierre Donatien
          = surround "(", ")," do
            %i Homosexualité et amour chez les Azthèques
          parlano di una realazione omosessuale tra i due. Tzitziplin, la
          moglie del Riverito Oratore, si era intanto rivelata sterile: fu uccisa in
          gran segreto, il suo corpo gettato nei canali di Tenochtitlan.
          Ma l'opera del sovrano illuminato non si arrestò qui: egli ordinò
          l'ampliamento e la difesa delle vie di comunicazione con lo Yucatan, e
          inviò diverse missioni esplorative fino alla costa dell'oceano Pacifico.
          Fece erigere numerosi templi al dio Quetzalcoatl, invocandone il suo
          ritorno dal Mare Occidentale; stabilì un'alleanza, destinata a durare solo
          un ventennio, con i vicini tlaxcaltechi, grazie alla quale poté condurre
          guerre di conquista nel meridione del Paese.
          Rinnovò il calendario, stabilendo che cinque giorni venissero aggiunti ogni
          vent'anni per evitare un'eccessiva discrepanza tra le previsione matematica
          e lo scorrere delle stagioni. Emanò diversi editti, volti a contenere la
          pratica del duello, molto diffusa — anche se, pare, non ebbe molto
          successo; sempre sul piano legislativo, raccolse in un unico corpo,
          suddiviso in dieci libri, antiche tradizioni religiose e giuridiche del
          proprio popolo.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 Follia e morte in disgrazia
        %p.lead
          Negli ultimi anni della sua vita, la follia lo assalì; mise a morte la sua
          nuova moglie, Hematlel, che lo aveva accusato pubblicamente di impotenza
          (1347); fece fustigare tutti i servi della casa reale perché non erano
          stati in grado di recuperare un bracciale che aveva perduto; fece mettere a
          ferro e a fuoco le case degli oppositori politici, che con la sua pazzia si
          facevano sempre più audaci e lanciavano in pubblico i loro anatemi; iniziò
          a sospettare persino dell'ostilità del generale Cuahumatl, il quale,
          temendo di soccombere, mobilitò i suoi guerrieri per attaccare il palazzo
          reale. Nel 1351 il buon Satrapame fu deposto e incarcerato; Cuahumatl non
          si proclamò re, ma impose sul trono il giovane e manovrabile Cajalcoyotl,
          di cui avrebbe continuato a essere l'eminenza grigia per i successivi
          dodici anni. Satrapame, cieco e folle, morì dopo quattordici giorni di
          prigionia.
