.top-margin
  .container
    .row.featurette
      .col-md-8
        %h2.featurette-heading
          Satrapame
          %span.text-muted known as the good
        %p.lead
          Aztec <i>speaker</i> from 1322 to 
          1351, known, among the many aztec kings, for having put an end to
          the Sacred Mysteries in honor of the god Enucatl and to the
          iconoclast fury that his predecessor, the tyrant Maurus,A had
          unleashed against other cults.
        %h2 The civil war
        %p.lead
          After the death of Azazale in 1319, the good Satrapame was just 45 years old,
          but had been in command of five thousand warriors for ten years. They were
          hardened by battles, rigidly disciplined and faithful to their commander,
          who had set himself up as a feudal lord in an inhospitable region
          of the Bradorose desert, near the northern border of the Aztec empire.
      .col-md-4
        %img.featurette-image.img-responsive{:alt => "satrapame", :src => "img/satrapame.jpg"}/
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %p.lead
          The news of the death of the monarch was providential: some
          maintain (in particular Edward J. Gnostolds, son of the better
          known anthropologist
          John C. and a successor in his research,
          = succeed ")" do
            %i Tyrant Maurus and the Good Satrapames — Anarchy and civil war in the Ancient Mexico
          that he knew about the trafficking between the good Satrapame 
          and the populations living across the border
          &mdash; cocoa seeds,
          gems, weapons, hallucinogenic plants &mdash; and that he was
          about to guide an army against his unfaithful vassal.
          As soon as he was informed about the vacancy of the throne,
          his personal army hailed him emperor (July 4th 1319):
          the documents from that time attest his hesitation,
          finally resolved after the revolt of the future tyrant Maurus
          was uncovered.
        %p.lead
          Six months of civil war followed, a period of military anarchy during which
          five self-proclaimed emperors fought bloody battles.
          No detailed description of those arrived to these days, but
          it is a fact that during the <i>night of the reed</i> (December 31st 1319)
          the tyrant Maurus took control of the capital Tenochtitlan with a
          clever <i>coup</i>, and that only an epidemy avoided a battle between
          the forces of Maurus and Satrapame. The treaty between the two usurpers
          foresaw that Satrapame recognized his rival as the king;
          in return, he would marry his sister Tzitziplin, 12 years old, and would
          be named his successor. Satrapame gladly accepted.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 The reign of the good Satrapame
        %p.lead
          In the following months, the growing hate of the people
          against the religious intolerance of the tyrant Maurus
          induced Satrapame to overthrow him on July 14th 1322
          (<i>day of the glory</i>); the removed despot was sacrificed
          on Enucatl's altar and his cult was forever banned.
        %p.lead
          So began twenty-nine years of enlightened government: the good
          Satrapame extended the fortifications that used to belong to him
          on the northern border, in order to defend the empire from
          the hordes of primitives who were pressuring the frontier;
          their overambitious attempt of forcing the defensive system
          induced the general Cuahumatl, commander of the warrior
          %i élite
          of the
          Cuahchiqueh and close friend of the good Satrapame, to attack the enemy.
          A battle of epical proportion saw one thousand Aztec warriors fight against
          twenty thousand strangers, and claim an overwhelming victory.
          The prisoners
          — not many, to say the truth — were killed on the fortifications
          on the day of their inauguration.
        %p.lead
          Satrapame rewarded Cuahumatl by naming him his successor; unceasing rumors,
          collected by the archaeologist Jean-Pierre Donatien
          = surround "(", ")," do
            %i Homosexualité et amour chez les Azthèques
          spoke about a homosexual relationship between the two. The wife of the
          <i>speaker</i> was infertile: she was secretly killed, and her body
          thrown in the canals in Tenochtitlan.
          But the work of the enlightened sovereign didn't stop: he ordered
          the improvement and protection of the routes to the Yucatan,
          and sent many explorative missions up to the coast of the Pacific Ocean.
          He built many temples dedicated to the god Quetzalcoatl,
          asking for his return from the western sea; he established an
          alliance with the Tlaxaltechs that would last twenty years,
          thanks to which he could lead wars in the south of the country.
          He reformed the calendar, adding five days every twenty years
          in order to avoid a difference between the mathematical prediction
          and the flow of the seasons.
          He issued various laws against the common practice of duelling
          — apparently without much success; he collected in one <i>corpus</i>,
          divided in ten books, ancient religious and legal traditions of his people. 
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %h2 Madness and disgrace.
        %p.lead
          In the last years of his life, he was struck by madness; he
          sentenced his new wife, Hematlel, to death for having accused him
          of impotence (1347); he had all the servants of the royal house whipped
          because they could not find a bracer he had lost; he demolished the
          houses of his political opponents, who became more and more audacious
          with his madness and dared to speak against him in public;
          he started to doubt even his general Cuahumatl, who, fearing for his
          own life, moved his soldiers to attack the royal palace.
          In 1351 the good Satrapame was removed and imprisoned;
          Cuahumatl did not name himself as king, but hailed the
          young and controllable Cajalcoyotl as a ruler,
          pulling the strings for the following twelve years.
          Satrapame, blind and crazy, died after fourteen days in jail.
