.top-margin
  .container
    .row.featurette
      .col-md-8
        %h2.featurette-heading Enucatl
        %p.lead
          Divinità facente parte della più antica mitologia azteca. È,
          nella tradizione riportata da numerose pergamene mesoamericane, il fratello
          di Quetzalcoatl, dal quale si distingue per la mancanza di piumaggio; è
          solitamente raffigurato nella forma di un serpente con ali di pipistrello,
          una tagliente coda biforcuta, una folta criniera sanguigna, un muso
          allungato di coccodrillo munito di micidiali zanne.
      .col-md-4
        %img.featurette-image.img-responsive{:alt => "enucatl", :src => "img/enucatl.jpg"}/
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %p.lead
          Rientra nel gruppo della divinità ctònie, la sua qualifica principale è
          quella di Tauroboliaste e Psicopompo: suo compito precipuo, infatti, era quello di guidare
          le anime al Mictlàn, l'Oltretomba delle religioni precolombiane. Tuttavia,
          almeno stando alle leggende, non era raro che questa divinità, nota tra
          tutte le altre per la nobiltà d'animo, s'impietosisse delle anime che
          trasportava, consentendo ad esse di risorgere nei rispettivi corpi: simili
          eventi erano sovente accompagnati da mastodontiche scosse telluriche, e
          talvolta da possenti maremoti. Le ricerche dell'antropologo John C.
          Gnostolds (1898-1973), condotte nei pressi della città santa di Sobbabia,
          hanno portato alla luce numerose sepolture che non contenevano più
          cadaveri: una prova schiacciante (come ebbe modo di teorizzare nella sua
          opera maggiore,
          = succeed "," do
            %i
              The ancient cult of Enucatl — A scientific research on
              Mexican holy cities 1961-68
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %p.lead
          La cintura di templi che si dipana da Sobbabia fino a Tenochtitlan è
          riprova della devozione che il popolo azteco — e, secondo alcuni artefatti
          rinvenuti nello Yucatan, anche maya — nutriva nei confronti di questa
          divinità: si trattava di piramidi a gradoni smussati alte in media 45/60
          metri, in cima alle quali, per onorare il dio, venivano consumati sacrifici
          umani; con il declinare della potenza militare azteca, e il conseguente
          venir meno di schiavi, i templi della cintura delle Città Sacre furpono
          però abbandonati e andarono in rovina. Con essi sarebbe finito anche il
          culto del dio Enucatl (cfr. John C. Gnostolds,
          = succeed "," do
            %i
              The ancient cult of Enucatl
              — A scientific research on Mexican holy cities 1968-1973
          %i damnatio memoriae
          per la suprema
          efferatezza; pare che egli, riunito l'esercito e sconfitti in rapida
          successione i popoli confinanti, che avevano osato ribellarsi, abbia
          condotto almeno 10 000 prigionieri alla morte per onorare il dio Enucatl.
    %hr.featurette-divider/
    .row.featurette
      .col-md-8
        %p.lead
          I fedeli del dio-serpente resistettero, soprattutto nelle campagne, col
          nome di
          = succeed ";" do
            %i ajaxes
